:root {
  --red: #c9184a;
  --green: #2a7a5c;
  --blue: #004ecc;
  --purple: #4300b8;
  --yellow: #f5b800;
}

#skip {
  font-family: Roboto;
  font-weight: bold;
  position: absolute;
  top: -25px;
  z-index: 999;
}

#skip:focus {
  top: 80px;
  left: 20px;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  background: white;
  border: solid 2px black;
  z-index: 999;
}

@font-face {
  font-family: Archivo;
  src: url("../fonts/Archivo-Regular.ttf");
  font-weight: regular;
}

@font-face {
  font-family: Archivo;
  src: url("../fonts/Archivo-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Archivo;
  src: url("../fonts/Archivo-SemiBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: regular;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Black.ttf");
  font-weight: 900;
}

img {
  width: 100%;
}

nav {
  background-color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  position: fixed;
  width: 100%;
  z-index: 3;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  display: flex;
  gap: 20px;
  top: 0
}

#index-nav {
  top: -150px;
  transition: top 0.5s ease;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 26px; */
  width: 100%;
}

.site-title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
}

.site-title img {
  width: 45px;
}

.site-title h1 {
  display: none;
}

nav a:not(.active):hover {
  color: var(--yellow);
}

.active {
  color: var(--green);
  text-decoration: underline;
}

main {
  padding: 125px 50px 50px 50px;
  font-family: Roboto;
  font-size: 20px;
}

.index {
  padding-top: 50px;
}

footer {
  padding: 40px 50px 20px 50px;
  background-color: var(--yellow);
}

.socials img,
footer img {
  width: 60px;
  transition: smooth 1ms;
}

.socials img:hover {
  transform: scale(1.03);
}

footer a {
  font-family: Archivo;
  font-size: 17px;
}

.title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
}

.title-logo {
  width: 40%;
}

.title-logo h1 {
  display: none;
}

.site-map {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75%;
  grid-gap: 10px;
}

.title-logo-site-map {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

hr {
  height: 1px;
  border: 0;
  width: 80%;
  background-color: black;
  margin: 40px auto;
}

.lower-half {
  width: max-content;
  margin: auto;
  text-align: center;
}

.footer-nav a:nth-child(1) {
  font-weight: bold;
  grid-column: 1 /-1;
}

.footer-nav a:hover {
  text-decoration: underline;
}

h1 {
  font-family: Roboto;
  font-size: 45px;
  font-weight: bold;
}

p {
  font-family: Archivo, "Open Sans";
  font-size: 17px;
  line-height: 25px;
}

.about-me {
  display: none;
}

button { 
  transition: transform 0.3s smooth;
}

button:hover {
  transform: scale(1.03);
}

@keyframes verticalTickerUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes verticalTickerDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

:focus {
  border: 2px solid blue;
}

@media screen and (min-width: 600px) {
  /* .site-title h1 {
    display: inline;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    color: var(--blue);
  } */
  .title-logo h1 {
    display: contents;
  }
  .title-logo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    width: 100%;
  }

  main {
    padding: 125px 50px 50px 50px;
  }

  .nav-links {
    gap: 40px;
    width: unset;
  }

  .about {
    display: none;
  }
  .about-me {
    display: contents;
  }
}

@media screen and (min-width: 992px) {
  nav {
    font-size: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 50px;
  }

  .nav-links {
    gap: 40px;
    width: unset;
  }

  .site-title h1 {
    display: inline;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    color: var(--blue);
  }

  .site-map {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .title-logo h1 {
    display: contents;
  }
  .title-logo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    width: 100%;
  }

  .grid-blank {
    display: none;
  }

  main {
    padding: 85px 80px 80px 80px;
  }
  .about {
    display: none;
  }
  .about-me {
    display: contents;
  }
}
