main { 
  padding: 0;
  display: flex;
  flex-direction: column;
}

input { 
  all: revert; 
}

footer { 
  position: absolute;
    width: 100%;
    z-index: 100;
}

header {
  line-height: 50px;
  margin-top: 65px;
  padding-bottom: 150px;
  z-index: 2;
  min-height: 100vh;
  background-color: white;
}

header p { 
  font-family: Archivo, "Open Sans";
  font-size: 17px;
  line-height: 25px;
}

.card.inview2 {
  opacity: 1;
  transform: none;
}

.card.inview2:nth-child(1) {
  transition-delay: 0.1s;
}

.card.inview2:nth-child(2) {
  transition-delay: 0.2s;
}

.card.inview2:nth-child(3) {
   transition-delay: 0.3s;
}

.card.inview2:nth-child(4) {
  transition-delay: 0.4s;
}

.card.inview2:nth-child(5) {
  transition-delay: 0.5s;
}

h2 {
  font-family: Roboto;
  font-weight: bold;
}

header h2 {
  font-size: 20px;
}

.card {
  transition: all 0.8s;
  opacity: 0;
  transform: translateY(20px);
  z-index: 1;
}

.guts-bg { 
  min-height: 100vh;
  background-color: teal;
}

.guts { 
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 30px;
  margin: calc(100vh / 6) 50px; 
  border-radius: 20px;
  background-color: white;
}

.guts h2 { 
  font-size: 30px;
}

.guts p, .guts a { 
  margin: 20px 0;
}

.guts h2 { 
  margin: 0 20px 0 0; 
}

.bg-grid { 
  overflow: hidden;
  height: 100vh;
  position: fixed;
  bottom: 0;
  display: grid;
  z-index: -1;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

.bg-grid img { 
  height: 300px;
  object-fit: cover;
}

section { 
  min-height: 100vh;
  z-index: 2;
}

section:nth-child(2n) .main-img { 
  float: right;
  margin: 0 0 20px 20px; 
} 

.main-img { 
  margin: 0 20px 20px 0;
  max-height: 500px;
  border-radius: 20px;
  width: 100%;
  border: 5px solid var(--yellow)
}

.visit-site { 
  height: max-content;
  cursor: pointer;
  background-color: var(--purple);
  color: white;
  width: max-content;
  padding: 5px 10px;
  border-radius: 12px;
  transition: cubic-bezier(1, 0, 0, 1)
}

.visit-site:hover { 
  transform: scale(1.02);
}

.address { 
  display: flex;
  flex-direction: column;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
}

.tag {
  padding: 5px 10px;
  color: var(--blue);
  background-color: rgb(0, 78, 204, 0.2);
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: max-content;
  border-radius: 30px;
}

.more-photos { 
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.more-photos img { 
  height: 200px;
  width: 100%;
  margin: 0 20px 0 0; 
  border: 5px solid var(--red); 
  border-radius: 20px;
}

.scroll { 
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-end;
  margin-top: 5px;
  justify-content: flex-end;
}

.more-photos-container p, .more-photos-container i  { 
  font-size: 15px;
  line-height: 15px;
  margin: 5px ;
}

.sm, .sl { 
  display: inline;
  padding-left: 5px;
  width: max-content;
  color: var(--green);
}

.sl:hover, .sm:hover { 
  color: var(--yellow);
  transform: scale(1);
}

.sl { 
  display: none;
}

.hidden { 
  display: none;
}

.mobile-hidden { 
  display: none;
}

.weather-filter { 
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}

.weather-filter h2 { 
  line-height: 20px;
}

.weather-iframe { 
  margin: auto;
}

.desktop-filler { 
  display: none;
}

.weather, .filter { 
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.btn-tag { 
  padding: 5px 10px;
  color: var(--blue);
  background-color: rgb(0, 78, 204, 0.2);
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: max-content;
  height: max-content;
  border-radius: 30px;
  font-family: Roboto;
  line-height: 10px;
}

.checkboxes { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Archivo, "Open Sans";
  font-size: 17px;
  line-height: 25px;
}

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
}

.check-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.check-container input:checked ~ .checkmark {
  background-color: var(--yellow);
}

.check-container input:checked ~ .checkmark  i {
  padding: 5px;
  display: block;
}

.checkmark i {
  position: absolute;
  display: none;
  color: white;
  top: -2px;
  left: -1px;
}

@media screen and (min-width: 684px) {
  .weather-filter { 
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
  }
  
  .weather, .filter { 
    flex-direction: column;
    gap: 20px;
    width: 50%;
  }

  .weather-iframe { 
    margin: unset;
  }
}

@media screen and (min-width: 600px) { 
  .address { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .mobile-hidden { 
    display: contents;
  }
}

@media screen and (min-width: 880px) {
  .desktop-filler { 
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (min-width: 992px) { 
  .main-img { 
    float: left;
    margin: 0 20px 20px 0;
    max-height: 500px;
    border-radius: 20px;
    width: 50%;
    border: 5px solid var(--yellow)
  }

  .bg-grid { 
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  }

  .address { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .mobile-hidden { 
    display: contents;
  }
}

@media (prefers-reduced-motion: reduce) {
  .card { 
    transition: none;
    opacity: 1;
    transform: none;
  }  
}